body {
  background: #d0f7d4;
  color: #fff;
  font-family: "Arial Black",Arial,sans-serif;
  font-size: 35px;
}

#gameTitle {
  font-size:30px;
  color: #0f6328;
  font-family: sans-serif,'Meiryo', Arial,'メイリオ', ;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 35px;
}

#container {
  width: 420px; 
  margin: 0px auto;
}

#board {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 8px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}

#board li.pressed {
  background: #ccc;
  box-shadow: none;
  margin-top: 14px;
  margin-bottom: 5px;
}

#board li {
  background: #10a96c;
  width: 80px;
  height: 80px;
  margin: 10px;
  cursor: pointer;
  border-radius: 15px;
  line-height: 40px;
  text-align: center;
  display: grid;
  place-items: center;
  box-shadow: 0 4px 0 #0f6328;
  user-select: none;
}

#timer {
  margin-bottom: 0;
  font-size: 45px;
  position: relative;
  top: 50px;
  left: 210px;
  color: #0f6328;
}

span {
  color: #0f6328;
  font-size: 30px;
  position: relative;
  top: 0px;
  left: 20px;
}

#btn {
  cursor: pointer;
  user-select: none;
  background: #f44336;
  padding: 8px;
  width: 200px;
  ;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 0 #d1483e;
  margin: auto;
}

#btn:active {
  margin-top: 12px;
  box-shadow: none;
}

